<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>დაგავიწყდა პაროლი?</title>
  <link rel="stylesheet" href="../assets/css/forgot.css" />
</head>
<body>

  <div class="background">
    <div class="card">

      <h1>დაგავიწყდა პაროლი?</h1>

      <p class="desc">
        გთხოვ ჩაწერე ელ-ფოსტის მისამართი, რომელზეც უნდა გაიგზავნოს პაროლის აღდგენის ინფორმაცია.
      </p>

      <input type="email" id="email" placeholder="ჩაწერეთ თქვენი იმეილი" />

      <button id="resetBtn">გაგზავნე აღდგენის ლინკის მოთხოვნა</button>

      <a href="#" class="back">დაბრუნება მთავარ გვერდზე</a>

      <p id="message" class="message"></p>

    </div>
  </div>

  <script src="../assets/javascript/forgot.js"></script>
</body>
</html>