<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ავტორიზაცია Recepto-ზე">
    <title>ავტორიზაცია</title>

    <link rel="stylesheet" href="../assets/css/login_style.css">
</head>
<body>

<div class="container">
    <h1>მოგესალმებით</h1>

    <div class="subtitle">
        გთხოვთ შეხვიდეთ თქვენი ელფოსტით ან სოციალური ანგარიშით
    </div>

    <div class="tabs">
        <div class="tab active" id="loginTab">ავტორიზაცია</div>
        <div class="tab" id="registerTab">რეგისტრაცია</div>
    </div>

    <!-- LOGIN -->
    <form id="loginForm">
        <input type="email" name="email" placeholder="ელ.ფოსტა" required>

        <div class="password-field">
            <input type="password" id="password" name="password" placeholder="პაროლი" required>

            <span id="togglePassword">
                <svg id="eyeIcon" width="22" height="22" viewBox="0 0 24 24" fill="#888">
                    <path d="M12 5c-7 0-10 7-10 7s3 7 10 7 10-7 10-7-3-7-10-7zm0 11a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                </svg>
            </span>
        </div>

        <div class="options">
            <label>
                <input type="checkbox" name="remember">
                დამიმახსოვრე
            </label>

            <a href="../templates/forgot.html" class="forgot">დაგავიწყდა პაროლი?</a>
        </div>

        <button type="submit" class="btn">შესვლა</button>
    </form>

    <!-- REGISTER -->
    <form id="registerForm" style="display:none;">
        <input type="text" placeholder="სახელი" required>
        <input type="text" placeholder="გვარი" required>
        <input type="email" placeholder="ელ.ფოსტა" required>
        <input type="password" placeholder="პაროლი" required>
        <input type="password" placeholder="გაიმეორეთ პაროლი" required>

        <button type="submit" class="btn">რეგისტრაცია</button>
    </form>

    <div class="divider"><span>ან</span></div>

    <div class="socials">
        <!-- GOOGLE LOGIN -->
        <div class="social" id="googleLoginBtn">
            <svg width="22" height="22" viewBox="0 0 48 48">
                <path fill="#EA4335" d="M24 9.5c3.54 0 6.02 1.53 7.4 2.82l5.44-5.44C33.6 3.9 29.2 2 24 2 14.64 2 6.7 7.84 3.6 16.22l6.32 4.9C11.6 14.5 17.3 9.5 24 9.5z"/>
            </svg>
        </div>

        <!-- Facebook -->
        <div class="social">
            <svg width="22" height="22" viewBox="0 0 24 24" fill="#1877F2">
                <path d="M22 12.07C22 6.48 17.52 2 11.93 2S1.86 6.48 1.86 12.07c0 5.02 3.66 9.19 8.44 10.02v-7.1H7.9v-2.92h2.4V9.41c0-2.37 1.41-3.68 3.57-3.68 1.03 0 2.1.18 2.1.18v2.3h-1.18c-1.16 0-1.52.72-1.52 1.46v1.75h2.59l-.41 2.92h-2.18v7.1c4.78-.83 8.44-5 5 8.44-10.02z"/>
            </svg>
        </div>
    </div>

</div>

<script src="../assets/javascript/script.js"></script>
</body>
</html>