<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recepto - საუკეთესო რეცეპტები">
    <title>Recepto</title>

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar">
            <a href="index.html" class="logo">Recepto</a>

            <ul class="nav-links" id="navLinks"></ul>

            <div class="buttons" id="authButtons"></div>
        </nav>
    </div>
</header>
    
<script src="../assets/javascript/index.js"></script>
</body>
</html>