<!DOCTYPE html>
<html lang="ka">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Search - Recepto</title>

  <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

<header>
  <div class="container">
    <nav class="navbar">

      <a href="../index.html" class="logo">Recepto</a>

      <ul class="nav-links" id="navLinks"></ul>

    </nav>
  </div>
</header>

<section class="search-section">
  <div class="search-box">
    <input type="text" id="searchInput" placeholder="ძიება..." />
  </div>

  <div id="results"></div>
</section>

<script src="../assets/javascript/search.js"></script>
<script src="../assets/javascript/index.js"></script>

</body>
</html>